.bee-breed {
  padding: 0 20px 0 20px;

  @media(min-width: $tablet-width) {
    padding: 0 100px 0 100px;
  }
}

.bee-breed__title {
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.bee-breed__description {
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}
