.buy-honey {
  background-image: url("../../img/hives.jpg");
  background-color: $color-green-dark;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $color-white;

  padding: 40px 20px 40px 20px;
}
