.intro__cover {
  background-image: url("../../img/bee-flowers.jpg");
  background-color: $color-green-dark;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 210px;
  padding: 0;
}

.intro__wrapper {
  padding: 30px 23px 0 23px;

  @media (min-width: $tablet-width) {
    padding: 60px 100px 0 100px;
  }
}

.intro__title {
  margin-top: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.intro__description {
  margin-top: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.intro__description:last-child {
  margin-bottom: 0;
}
