// Colors

$color-white: #ffffff;
$color-blue-grey-light: #d8e6f5;
$color-blue-grey-dark: #a9b9d2;
$color-blue: #103f88;
$color-orange: #ff5f04;
$color-orange-light: #FF9519;

// Backgrounds

$color-grey-light: #e5e5e5;
$color-green-dark: #568525;
$color-brown-dark: #c6a659;

// Shadows

$page-shadow: rgba(0, 0, 0, 0.15);

// Viewports

$mobile-width: 375px;
$desktop-width: 1440px;
